@import "tailwindcss";

  /* 스크롤바 숨기기 */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 애니메이션 */
  .animate-shimmer {
    animation: shimmer 2s infinite linear;
  }

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes slide-up-text {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up-text {
  animation: slide-up-text 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}